<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to("Job-Listing", jobs_path, :class => "navbar, navbar-brand") %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
          <li><%= link_to(" sign up", new_user_registration_path, :class => "fa fa-sign-in") %></li>
          <li><%= link_to(" login", new_user_session_path, :class => "fa fa-sign-in") %></li>
          <% else %>
          <li class="dropdown">
           <a href="#" class="dropdown=toggle" data-toggle="dropdown">
           Hi!, <%= current_user.email %>
           <b class="caret"></b>
         </a>
         <ul class="dropdown-menu">
           <% if current_user.try(:admin?) %>
           <li><%= link_to("Admin Panel", admin_jobs_path(@job))  %></li>
           <li class="divider"></li>
           <% end %>

           <li><%= link_to("logout",destroy_user_session_path, method: :delete , :class => "fa fa-sign-out")%></li>
         </ul>
          </li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>
